* {
    padding: 0;
    margin: 0;
}



.top-header {
    display: flex;
    justify-content: space-around;
    padding-bottom: 150px;
    
    background-color: #1F2937
    
}


.logo {
    padding: 30px 0px;
    font-size: 18px;
    color: #E5E7EB;
    
    
}

h1, h2 {
    color: white;
}

h2 {
    font-weight: bolder
}

.left-links {
    display: flex; 
    padding: 30px 0px;
    gap: 50px;


}

.left-links li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}

.top-content {
    display: flex;
    justify-content: space-evenly;
    align-items: ;
    background-color: #1F2937;
    padding-bottom: 150px;
    
    
}

.top-content img {
    width: 450px;
    height: 500px;
    padding-left: 60px;
}

.top-container {
    display: flex;
    flex-direction: column;
    width: 350px;
}


.top-text {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: 550;
    margin-top: 15px;
    width: 600px;
    color: white;
    
}

.button-container {
    margin-top: 10px;
}

.button-container button {
    border-radius: 15px;
    color: white;
    padding: 10px 40px;
    background-color: #3882f6 ;
    font-weight: 800;
}


.logo-2 {
   
    
    font-size: 48px;
    color: #F9FAF8
    
}










.middle-content {
    margin-bottom: 150px;
}

.middle-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    margin: 50px 0px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.card img {
    margin-top: 5px;
    border-width: 3px;
    border-style: double;
    max-width: 300px;
}


.card-text {
    max-width: 300px;
    font-size: 22px;
}











.bottom-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 200px 0px;
    margin-bottom: 150px;
    
}


.bottom-content li {
    list-style-type: none;
 
}



.top-bottom-content {
    font-size: 36px;
    font-style: italic;
    width: 1300px;
    color: #1F2937;

    
}





.bottom-bottom-content {
    display: flex;
    justify-content: flex-end;
    font-size: 23px;
    font-weight: 800;
}












.down {
    display: flex;
    justify-content: center;
   
}


.down-container {
    display: flex;
    align-items: center;
    border-radius: 15px;
    gap: 350px;
    padding: 30px 0px;
    background-color: #3882f6 ;
    
}

.down-left-container {
    margin-left: 150px;
}

.down-left-container li {
    list-style-type: none;
    color: white;

}

.top-last-text {
    font-size: 35px;
    font-weight: bolder;
}

.bottom-last-text {
    font-size: 20px;
}

.last-button {
    margin-right: 150px;
}


.last-button button {
    border-radius: 15px;
    border-color: white;
    color: white;
    padding: 10px 40px;
    background-color: #3882f6 ;
    font-weight: 800;
}












footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding: 30px 0px;
    background-color: #1F2937
    
}

.footer-text {
    color: white;

}







